<div *ngIf="countries.length === 0; else table" class="alert alert-warning text-center active animate__animated animate__fadeIn">
  No hay nada que mostrar
</div>

<ng-template #table>
  <div class="table-responsive">
  <table class="table table-hover active animate__animated animate__fadeIn">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Region</th>
        <th>Bandera</th>
        <th>Pais</th>
        <th>Capital</th>
        <th>Poblacion</th>
        <th></th>
      </tr>
    </thead>

    <tbody >
      <tr *ngFor="let country of countries; let i = index">
        <td>{{i + 1}}</td>
        <td> {{country.region}} </td>
        <td>
          <img [src]="country.flags.svg" [alt]="country.name.common">
        </td>
        <td> {{country.name.common}} </td>
        <td> {{country.capital}} </td>
        <td> {{country.population | number}} </td>
        <td>
          <a [routerLink]="[ '/countries/by', country.cca3]">Ver más...</a>
        </td>
      </tr>
    </tbody>


  </table>
</div>
</ng-template>
