<h2>Por Capital</h2>
<hr>


<div class="row">
  <div class="col">
<!-- search box -->
<shared-search-box
[inicialValue]="inicialValue"
placeholder="Buscar por capital..."
class="active animate__animated animate__fadeIn"
(onDebounce)="searchByCapital($event)"></shared-search-box>

  </div>
</div>
<hr>
<div class="row">
  <div class="col">
<shared-loading-spinner class="active animate__animated animate__fadeIn" *ngIf="isLoading"></shared-loading-spinner>
<countries-table [countries]="countries"></countries-table>
  </div>
</div>
